@charset "utf-8";
*{margin:0; padding:0;}
body{width: 100%;height: 100%;}
.tade{
    width: 100%;
    height: 125px;
}
.tade-div{
    width: 64%;
    height: 125px;
    margin: auto;
    min-width: 1200px;
    font-family: "微软雅黑";
}
.div-fen{
    width: 187px;
    height: 57px;
    background: url(../img/logo.jpg);
    margin-top: 31px;
    position: relative;
    text-align: right;
}
.div-fen p{
    margin-top: 10px;
}
.p{
    font-size: 14px;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}
.tade-div ul li{
    width: 90px;
    height: 25px;
    position: relative;
    top: 20px;
    left: 400px;
    list-style: none;
    color: #333;
    float: right;
    line-height: 25px;
    text-align: center;
    margin-top: -20px;
}
.tade-div ul li a{
    text-decoration: none;
    color: #333;
}
.tade-div ul li a:visited {
    color:#333;
    text-decoration: none;
}
.tade-div ul li a:hover{
    color: #69f;
    text-decoration: none;
}
.div-img{
    width: 100%;
    height:350px;
    background-size: 100% 100%;
}
.div-img img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
header{
    width: 1300px;
    height:900px;
    border-bottom: 1px solid #ccc;
    margin: auto;
}

.img-wx{
    position: relative;
    top: -300px;
    left: -50px;
}
.div-fan{
    width: 1000px;
    height: 70px;
    margin: auto;
    position: relative;
    top: -430px;
    text-align: center;
    font-size: 40px;
}
.div-wei{
    width: 1000px;
    height: 220px;
    margin: auto;
    position: relative;
    top: -380px;
    display: flex;
    justify-content: space-between;
}
.div-wei div{
    width: 160px;
    height: 220px;
    float: left;
    text-align: center;
}
.div-wei div img{
     margin: 15px auto;
}
.p-w{
    width: 140px;
    color: #777;
    margin: 5px auto;
}
.div-wei div:hover{
    border: 1px solid #ccc;
    box-shadow: 3px 3px 0px #ccc;
    border-radius: 3px;
}
.div-she{
    width: 1100px;
    height: 98px;
    position: relative;
    border: 1px solid #bbb;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 12px;

}
.div-she ul li{
    width: 273px;
    height: 98px;
    float: left;
    color: #333;
    border-right: 1px solid #bbb;
    list-style: none;
}
.dt{
    width: 38px;
    height: 38px;
    margin: 30px 18px 0 19px;
    color: #fff;
    background: #EF2F33;
    font-size: 24px;
    line-height: 38px;
    text-indent: 9px;
    font-style: italic;
    float: left;
    border-radius: 50%;
}
.div-she ul li h3{
    margin-top: 25px;
}
.p-h4{
    color: #999;
}
.div-she ul li:hover{
    color: #fff;
    background: #EF2F33;
}
.fot{
    width: 1100px;
    height: 235px;
    position: relative;
    top:30px;
    margin: auto;
}
.fot-zuo{
    width: 550px;
    height: 235px;
    float: left;
    text-align: left;
}
.fot-zuo P{
    margin-top: 20px;
    color: #EF2F33;
    font-size: 18px;
}
.fot-zuo ul li{
    width: 100%;
    height: 32px;
    position: relative;
    top: 30px;
    font-size: 14px;
    overflow: hidden;
    color: #666;
    list-style: none;
}
.fot-zuo ul li:hover{
    color: #EF2F33;
}
.fot-you{
    width: 276px;
    float: right;
    position: relative;
    top: 10px;
    color: #333;
    text-align: left;
    font-size: 18px;
}
.fot-di{
    width: 276px;
    height: 160px;
    overflow: hidden;
    top: 20px;
    position: relative;
    animation-name: mylur;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes mylur{
    0%{
        margin-right: 276px;
        background:url(../img/d1.jpg);
        background-size:100% 160px;
    }
    10%{
        margin-right: 276px;
        background:url(../img/d2.jpg);
        background-size:100% 160px;
    }
    20%{
        margin-right: 276px;
        background:url(../img/d11.jpg);
        background-size:100% 160px;
    }
    30%{
        margin-right: 276px;
        background:url(../img/d12.jpg);
        background-size:100% 160px;
    }
    40%{
        margin-right: 276px;
        background:url(../img/d10.jpg);
        background-size:100% 160px;
    }
    50%{
        margin-right: 276px;
        background:url(../img/d9.jpg);
        background-size:100% 160px;
    }
    60%{
        margin-right: 276px;
        background:url(../img/d8.jpg);
        background-size:100% 160px;
    }
    70%{
        margin-right: 276px;
        background:url(../img/d6.jpg);
        background-size:100% 160px;
    }
    80%{
        margin-right: 276px;
        background:url(../img/d7.jpg);
        background-size:100% 160px;
    }
    90%{
        margin-right: 276px;
        background:url(../img/d4.jpg);
        background-size:100% 160px;
    }
    100%{
        margin-right: 276px;
        background:url(../img/d3.jpg);
        background-size:100% 160px;
    }
}

.foot{
    width: 100%;
    height: 295px;
    background: url(../img/beiji.jpg);
    background-size: 100% 100%;
    margin:100px auto;
}
.foot-ku{
    width: 1200px;
    height: 295px;
    margin: 0 auto;
}
.foot-san{
    width: 500px;
    height: 46px;
    float: left;
    line-height: 46px;
    color: #fff;
}
.for-zuo{
    width: 300px;
    height: 130px;
    position: relative;
    top: 50px;
    left: 50px;
    color: #fff;
    text-align: left;
}
.for-you{
    width: 300px;
    height: 130px;
    position: relative;
    left: 350px;
    top: -35px;
    color: #fff;
    text-align: left;
}
.div-dji{
    width: 600px;
    height: 30px;
    float: left;
    color: #fff;

}
.div-qua{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    top:30px;
    font-family: "微软雅黑";
    color: #999;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}
.div-qua span{
    text-align: right;
}






